<div class="game-list">
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2 border">Player One</th>
                <th class="px-4 py-2 border">Player Two</th>
                <th class="px-4 py-2 border">Winner ID</th>
                <th class="px-4 py-2 border">Status</th>
                <th class="px-4 py-2 border">Game Type</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.games as |game index|}}
            <tr class="bg-gray-100">
                <td class="px-4 py-2 border">{{game.player_one_name}}</td>
                <td class="px-4 py-2 border">{{game.player_two_name}}</td>
                <td class="px-4 py-2 border">{{game.winner_name}}</td>
                <td class="px-4 py-2 border">{{game.status}}</td>
                <td class="px-4 py-2 border">{{game.game_type}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="pagination flex items-center justify-center mt-4">
        <button class="pagination-button bg-blue-500 text-white px-4 py-2 rounded" {{on "click" this.previousPage}}
            disabled={{not this.showPreviousPage}}>
            Previous
        </button>
        <span class="current-page mx-4">{{this.currentPage}}</span>
        <button class="pagination-button bg-blue-500 text-white px-4 py-2 rounded" {{on "click" this.nextPage}}
            disabled={{not this.showNextPage}}>
            Next
        </button>
        <span class="current-page mx-4"></span>
        <HomeButton>
            Home
        </HomeButton>
    </div>
</div>