<div class="container mx-auto flex justify-center items-center min-h-screen">
    <div class="grid grid-cols-3">
        {{#each this.gameBoard as |row index|}}
        <div id={{index}} class="h-20 w-20 border-2 border-black flex items-center justify-center cursor-pointer" {{on 'click' (fn
            this.makeMove index)}}>
            {{row}}
        </div>
        {{/each}}
    </div>

    <div class="flex justify-between mt-4">
       <p class="text-lg font-sans">Player One: {{this.gameService.Player_one.name}} - {{this.gameService.Player_one.user_name}}</p>
       <p class="text-lg font-sans">Player Two: {{this.gameService.Player_two.name}} - {{this.gameService.Player_two.user_name}}</p>
       <p class="text-lg font-sans">Current Player: {{this.currentPlayer}}</p>
       <p class="text-lg font-sans">Game Status: {{this.gameService.game.status}}</p>
    </div>
    <div class="flex justify-between mt-4">
        <a id="ember105" class="ember-view text-blue-500" href="/">Home</a>
    </div>
</div>